/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*Assign hex codes to a variable*/
:root{
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Universal Styles */

h1 {
    font-size: 110px;
    color: #F2D0A7;
    font-weight: bold;
    font-family: 'Khand', sans-serif;
    text-shadow: 8px 8px 14px black;
}

h2 {
    font-size: 64px;
    color: #DA7E21;
    font-weight: 600;
    font-family: 'Khand', sans-serif;
}

h3 {
    color: #8C5660;
    font-size: 40px;
    font-family: 'Khand', sans-serif;
    font-weight: 600;
}

h4 {
    color: #A65221;
    font-size: 36px;
    font-family: 'Khand', sans-serif;
    font-weight: 600;
}

button {
    background-color: #DA7E21;
    border: none;
    border-radius: 30px;
    padding: 15px 25px;
    font-size: 30px;
    font-family: 'Khand', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
}

p {
    font-family: 'Khand', sans-serif;
    font-size: 30px;
    line-height: 38px;
}

/* Container */
.container {
    position: inherit;
    text-align: center;
}

/* Header */
.header{
    background-color: #D9A05B;
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo{
    display: inline-block;
    margin-left: 10px;
}

.logo img {
    width: 80px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #D9A05B;
    overflow: hidden;
    
}

.menu a{
    display: block;
    padding: 30px 30px;
    color: var(--white);
}

.menu a:hover{
    background-color: #A65221;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/*Hero Banner*/
#hero {
    background: url('/images/hero.jpg') no-repeat;
    height: 400px;
    background-size: cover;
    position: relative;
    z-index:-1;
}

.heroText h1 {
    position: absolute;
    left: 100px;
    top: 100px;
}

.heroText p {
    color: white;
    font-family: 'Khand', sans-serif;
    font-size: 64px;
    text-shadow: 8px 8px 14px black;
    position: absolute;
    left: 200px;
    top: 210px;
}

/* 3-column block */
.row {
    justify-items: center;
    padding: 30px 30px 10px 30px;
}

.threeBlock .columns{
    display: block;
}

/* Content Cat */
#contentCat {
    background: url(/images/cb1.jpg) no-repeat;
    height: 500px;
    background-size: cover;
}

.catInfo {
    background: rgba(255, 255, 255, 0.75);
    width: 550px;
    padding: 40px 30px 40px 30px;
    margin: 30px;
}

/* Footer */
/* Footer */
footer {
    background-color: #F2D0A7;
    display: flex;
    justify-content: space-between;
    padding: 3px 0px;
}

.footerColumns {
    padding: 10px 10px;
    margin: 0px;
}

.footerColumns .footerNav li{
    display: inline-block;
    margin: 0px 15px;
}

.footerColumns .socialMedia li {
    display: inline-block;
    margin: 0px 20px;
}

.footerColumns ul li a {
    color: #A65221;
    text-decoration: none;
    font-family: 'Khand', sans-serif;
    font-weight: bold;
    font-size: 40px;
}



/* Responsiveness */

@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;

    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: #A65221;
        
    }
    
    .hamb{
        display: none;
    }

}

@media screen and (max-width:600px) {
    h1 {
        font-size: 60px;
    }

    p {
        font-size: 25px;
    }
    
    #hero {
        height: 250px;
        background-position: top;
    }

    .heroText h1 {
        position: absolute;
        left: 20px;
        top: 70px;
    }

    .heroText p {
        font-size: 35px;
        position: absolute;
        left: 70px;
        top: 130px;
    }

    .homeBtn .row {
        padding: 10px;
    }

    .catInfo h4 {
        font-size: 30px;
    }

    .catInfo p {
        font-size: 15px;
    }

    #contentCat {
        background: url(/images/cb1.jpg) no-repeat;
        height: 500px;
        background-size: cover;
        background-position-x: -400px;
    }

    .catInfo {
        background: rgba(255, 255, 255, 0.75);
        padding: 40px 30px 40px 30px;
        width: 300px;
    }

    /* Footer */
    .footerColumns .footerNav li{
        display: block;
        margin: 0px 15px;
    }

    .footerColumns .socialMedia li {
        display: inline-block;
        margin: 0px 10px;
    }

    .footerColumns img {
        width: 30px;
    }

    .footerColumns ul li a {
        font-size: 20px;
    }

}